aiogram
aiohttp
python-dotenv
playwright
yt-dlp
m3u8
secretstorage
PySocks
brotli
aiohttp-socks>=0.8.4
setuptools>=68
Django
psycopg[binary]
bs4
asyncpg
django
django-environ
djangorestframework
docutils
uvicorn
gunicorn
uvicorn-worker
bgutil-ytdlp-pot-provider
